@keyframes midcl{
    from {
        left: 100px;
        bottom :300px;
    }
    to {
        left: 300px;
        bottom :300px;
    }
}
@keyframes topcl{
    from {
        right: 300px;
        top: 100px;
    }
    to {
        right: 400px;
        top: 100px;
    }
}
body{
    margin: 0px;
    text-align: center;
    font-size: 100%;
}
div{
    /*background-color: #40798C;*/
    margin-bottom: 0px;
    max-width: 100%;
}
hr{
    border-style: none none solid none;
    background-color: #40798C;
    border-color: #cfd7c7;
}
h1{
    margin : 50px auto 0 auto;
    color: #F6F1D1;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 5.625rem;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}
h3{
    font-family: 'Poppins', sans-serif;
}
p{
    color: #F6F1D1;
    font-family: 'Lexend Deca', sans-serif;
}
span{
    text-decoration: underline;
    display: inline-block;
}
/*Classes*/
.top-container{
    padding-top: 200px;
    position: relative;
    background-color: #0b2027;

}
.middle-container{
    background-color: #40798C;
}
.bottom-container{
    background-color: #40798C;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 100px;
    width: auto;
    height : auto;
    animation-name: topcl;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
}
.mid-cloud{
    position: absolute;
    left: 300px;
    bottom :300px;
    width: auto;
    height : auto;
    animation-name: midcl;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.mtn{
    width : 37.375rem;
    height : 22.313rem;
}
.proimg{
    height: 300px;
}
.head{
    height: 300px;
}
.myself{
    border-radius:  100%;
    filter: brightness(190%);
}
.call_me{
    height  :200px;
}
.programmer{
    color: #F6F1D1;
}